.food-item {
    width:400px; /* Set a fixed width for a larger card */
    margin: 20px auto; /* Center the card and add some spacing */
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    transition: 0.3s;
    animation: fadeIn 1s;
    padding: 0 0 20px;
    background-color: #fffbfb;
    flex: 0 0 calc(300px - 20px); /* Reduced width for slightly smaller boxes */
    box-sizing: border-box;

}

.food-item-image{
    width: 290px;
    border-radius: 8px 8px 0px 0px;

}

.food-item-info{
    padding: 15px;

}

.food-item-name-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 45px;
    margin-bottom:-18px ;
    position: relative;
    top: -40px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    width: 170px;
    align-items: center;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.food-item-name-rating p {
    font-size: 14px;
    color: rgb(255, 0, 0);
    font-weight: bold;


}
.food-item-stars .star {
    color: gold;
    font-size: 1rem;
    margin-right: 2px;
  }
  
  .food-item-ratings {
    margin-left: 10px;
    color: #333;
  }

.food-item-desc{
    color: #413e3e;
    font-size: 18px;
    font-weight: 600;

}

.food-item-img-container{
    position: relative;

}
.food-item-img-container .checking{
    position: absolute;
    top: 20px;
    font-size: 40px;
    right: 60px;
    background-color: red;
    color: white;
    position: absolute;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    
}



.food-item-img-container .add {
    font-size: 40px;
    background-color: red;
    color: white;
    position: absolute;
    padding: 10px;
    bottom: 170px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

/* Optional: Style for the filled heart if different */
.food-item-img-container .add.filled {
    color: white; /* Example style for filled heart */
}

.food-item-img-container .add:hover{
    background-color: rgb(238, 24, 24);
}

.one-div{
    display: flex;
    margin-top: 8px;
    gap: 5px;
    padding:0;

}

.food-item-ratings{
    font-size: 15px;
    color: #7c7b7b;
}
.one-div img{
    width: 100px;
    height: 20px;
}

.food-item-time-container{
    margin-top: 18px;
    display: flex;
    gap: 8px;
    align-items:center;
}

.food-item-time{
    color:   #7c7b7b;
    font-size: 14px;
    margin-top: 2px;
    font-weight: 600;
}
.time{
    font-size: 24px;
    color: #242424;

}