.editrecipe-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;



}

.h1-editrecipe{
    margin-top:  20px;
    margin-bottom: 30px;

}

.overall-container{
    background-color:#F5F5F5; /* Set background color to gray */
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
    margin-top: 150px;
}