.header {
  height: 320px;
  width: 100vw; /* Full viewport width */
  background: url('../../assets/header_img1.png') no-repeat center center;
  background-size: cover; /* Ensure the image covers the entire header area */
  position: relative;
  overflow: hidden; /* Hide any overflow */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  margin: 0 -20px ; /* Remove any margin */
}

/* Ensure no padding or margin around the body and html */

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;

align-items: start;
gap: 1.5vw;
max-width: 50%;
bottom:60px;
left:11vw;

}

.header-contents h2{
    font-weight: 600;

    color: white;
    font-size: max(3vw, 16px);
}



.header-contents p{
    color: white;
    font-size: 1.8vw;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .header-contents h2, .header-contents p {
    animation: fadeInUp 1s ease-in-out;
  }
  
  .header-contents h2 {
    animation-delay: 0.2s;
  }
  
  .header-contents p {
    animation-delay: 0.4s;
  }
  