.popular-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.head {
  color: #262626;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin: 30px 0 40px 0;
}

.head:hover{
  color: #ff0000;
  
}
.popular-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.popular-grid > div {
  flex: 0 0 calc(22% - 20px); /* Reduced width for slightly smaller boxes */
  box-sizing: border-box;
}
